/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */

  #sidebar{
   flex-direction: row;
   flex: 1;
  } 
  
 <p class="right-aligned-text"> THE WORLD'S LARGEST WEB DEVELOPER SITE.</p>
 <p stle   n: right;"> </p>
  .container {
  display: flex 1;
  flex-direction: row;
  background-color: blue;
}

.container div {
  background-color: white;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}



     